{% extends "show/base.html" %}
{% load static %}

{% block main %}
    <main class="main">
        <div class="container">
            <section class="categories">
                <h2>Категории</h2>
                <div class="category-list">
                    <a href="{% url "index" %}" class="category">Все</a>
                    {% for category in categoryies %}
                        <a href="{% url "category" category.id %}" class="category">{{ category.title }}</a>
                    {% endfor %}
                </div>
            </section>

            <section class="poems">
                <h2>{{ title.title }}</h2>
                <div class="poem-grid">
                    {% for poems in last_poem %}
                        <article class="poem-card">
                            <div class="poem-meta">
                                <span class="date">{{ poems.date_public }}</span>
                                <span class="category">{{ poems.category }}</span>
                            </div>
                            <h3 class="poem-title"><a href="poem.html">{{ poems.title }}</a></h3>
                            <div class="poem-excerpt">
                                <p>{{ poems.text_poem }}<br>
                                </p>
                            </div>
                            <div class="poem-footer">
                                <a href="{% url "show:poem" poems.id %}" class="read-more">Читать далее</a>
                                {% if user in poems.like.all %}
                                    <a class="red" href="{% url "show:like" poems.id %}">
                                        <i class="far fa-heart"></i> {{ poems.like.count }}
                                    </a>
                                {% else %}
                                    <a class="likes" href="{% url "show:like" poems.id %}">
                                        <i class="far fa-heart"></i> {{ poems.like.count }}
                                    </a>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock main %}