{% extends "show/base.html" %}
{% load static %}

{% block main %}
    <main class="main poem-page">
        <div class="container">
            <article class="poem-full">
                <div class="poem-meta">
                    <span class="date">{{ poem.date_count }}</span>
                    <span class="category">{{ poem.category }}</span>
                </div>
                <h1 class="poem-title">{{ poem.title }}</h1>
                <div class="poem-author">
                    <img src="{% static "img/author.jpg" %}" alt="Автор" class="author-avatar">
                    <span class="author-name">Rita D.</span>
                </div>
                <div class="poem-content">
                    <p>{{ poem.text }}<br>
                    
                    </p>
                </div>
                <div class="poem-actions">

                    {% comment %} Logic like {% endcomment %}
                    {% if user in poem.like.all %}
                        <a class="red" href="{% url "show:like" poem.id %}">
                            <i class="far fa-heart"></i> {{ poem.like.count }}
                        </a>
                    {% else %}
                        <a class="likes" href="{% url "show:like" poem.id %}">
                            <i class="far fa-heart"></i> {{ poem.like.count }}
                        </a>
                    {% endif %}

                    {% comment %} Logic poem {% endcomment %}
                    {% if poem.id in saved_poems %}
                        <a class="btn-bookmark gold" href="{% url "show:save_poem" poem.id %}">
                            <i class="far fa-bookmark"></i> В закладки
                        </a>
                    {% else %}
                        <a class="btn-bookmark" href="{% url "show:save_poem" poem.id %}">
                            <i class="far fa-bookmark"></i> В закладки
                        </a>
                    {% endif %}
                    
                    <div class="share">
                        <span>Поделиться:</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </article>

            <section class="comments">
                <h2>Комментарии ({{ comments.count }})</h2>
                <form class="comment-form" method="POST" action="{% url "show:poem" poem.id %}">
                    {% csrf_token %}
                    {{ form.text }}
                    <button type="submit" class="btn btn-submit">Отправить</button>
                </form>
                <div class="comment-list">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-author">
                                {% comment %} time {% endcomment %}
                                <img src="{% if comment.user.image %} {{ comment.user.image.url }} {% else %} {% static "img/author.jpg" %} {% endif %}" alt="Пользователь" class="comment-avatar">
                                <span class="comment-name">{{ comment.user.username }}</span>
                                <span class="comment-date">{{ comment.date_count }}</span>
                            </div>
                            <div class="comment-text">
                                {{ comment.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock main %}