{% extends "show/base.html" %}
{% load static %}

{% block main %}
    <main class="main poem-page">
        <div class="container">
            <article class="poem-full">
                <div class="poem-meta">
                    <span class="date">{{ poem.date_public }}</span>
                    <span class="category">{{ poem.category }}</span>
                </div>
                <h1 class="poem-title">{{ poem.title }}</h1>
                <div class="poem-author">
                    <img src="{% static "img/author.jpg" %}" alt="Автор" class="author-avatar">
                    <span class="author-name">Rita D.</span>
                </div>
                <div class="poem-content">
                    <p>{{ poem.text }}<br>
                    
                    </p>
                </div>
                <div class="poem-actions">
                    <div class="btn-like">
                        <i class="far fa-heart"></i> <span>24</span>
                    </div>
                    <button class="btn-bookmark">
                        <i class="far fa-bookmark"></i> В закладки
                    </button>
                    <div class="share">
                        <span>Поделиться:</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </article>

            <section class="comments">
                <h2>Комментарии (3)</h2>
                <form class="comment-form" method="POS">
                    {% csrf_token %}
                    {{ form.text }}
                    <button type="submit" class="btn btn-submit">Отправить</button>
                </form>
                <div class="comment-list">
                    <div class="comment">
                        <div class="comment-author">
                            <img src="https://via.placeholder.com/40" alt="Пользователь" class="comment-avatar">
                            <span class="comment-name">Мария Иванова</span>
                            <span class="comment-date">2 дня назад</span>
                        </div>
                        <div class="comment-text">
                            Очень глубокий стих, заставляет задуматься о вечном. Спасибо автору за такие проникновенные строки!
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-author">
                            <img src="https://via.placeholder.com/40" alt="Пользователь" class="comment-avatar">
                            <span class="comment-name">Сергей Петров</span>
                            <span class="comment-date">5 дней назад</span>
                        </div>
                        <div class="comment-text">
                            Читал это стихотворение в школе, но только сейчас, спустя годы, начинаю понимать его настоящий смысл.
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-author">
                            <img src="https://via.placeholder.com/40" alt="Пользователь" class="comment-avatar">
                            <span class="comment-name">Анна Сидорова</span>
                            <span class="comment-date">1 неделю назад</span>
                        </div>
                        <div class="comment-text">
                            Каждая строчка наполнена таким смыслом... Это именно то стихотворение, которое хочется перечитывать снова и снова.
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock main %}