{% extends "users/base.html" %}

{% block main %}
    <main class="main auth-page">
        <div class="container">
            <div class="auth-form-container">
                <h1>Вход в аккаунт</h1>
                <form class="auth-form">
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="email" id="login-email" placeholder="Ваш email" required>
                    </div>
                    <div class="form-group">
                        <label for="login-password">Пароль</label>
                        <input type="password" id="login-password" placeholder="Ваш пароль" required>
                    </div>
                    <div class="form-options">
                        <label class="remember-me">
                            <input type="checkbox"> Запомнить меня
                        </label>
                        <a href="#" class="forgot-password">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn btn-login-submit">Войти</button>
                    <div class="auth-alt">
                        <span>Или войти с помощью</span>
                        <div class="social-login">
                            <a href="#" class="btn-social facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn-social google"><i class="fab fa-google"></i></a>
                            <a href="#" class="btn-social twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="auth-switch">
                        Нет аккаунта? <a href="sign.html">Зарегистрируйтесь</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock main %}